/*Primary text color: #170312
  Secondary text color: #41658A*/

.root {

}

.main-page {
  background-color: #E5D4C0;
  position: fixed;
  top: 0;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.nav-tabs {
  display: flex;
  flex-direction: row;
}

.personal-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.personal-info-paper {
  margin: 10px;
  width: 100%;
}