/*Primary text color: #170312
  Secondary text color: #41658A*/

/* Class Values */
.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: 0;
}

.name {
  color: #007FFF;
}

.home-page {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

.personal-info {
  display: flex;
  flex-direction: row;
}

.root {
  background-color: #E5D4C0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}

.outer-resume {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.icon-resume {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.image-resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actual-resume {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.outer-exp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ID Values */
#box-header {
  text-align: center;
  font-size: 5vw;
}

#box-body {
  text-align: center;
  font-size: 2vw;
}

#about-me-id {
  color: #001427;
  font-size: x-large;
}